.login-heading-text {
  text-align: center;
  color: #E13C35;
  margin-top: 6rem;  /* Replace padding-top with margin */
  margin-bottom: 0rem; /* Add small space below heading */
  /* padding-top: 5%; */
}

.admin-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;  */
}


