/* AdminDashboard.css */
h1 {
  color: #E13C35;
}
.centered-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;  vertical center */
  align-items: center;      /* horizontal center */
  height: 100vh;
  text-align: center;
  padding-top: 1rem;
}
.create-article-link {
  margin-top: 3rem;
  color: #10b981; 
  font-size: 2rem;
 }

 .create-article-link:hover {
  color: black;
 }

