.red-box {
  border: 10px solid #E13C35;
  padding: 16px;
  border-radius: 8px;
  color: #333;
  width: 400px;
  height: 600px;
  margin: 5px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-color: transparent;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.red-box-image {
  width: 100%;
  height: auto;
  max-height: 250px; /* Adjust if you want smaller */
  object-fit: contain;
  margin-bottom: 16px;
}

.red-box-title {
  font-size: 1.8rem;
  font-weight: bold;
  word-wrap: break-word;
}
