.editor-container {
    padding: 1rem;
    max-width: 768px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  
  .editor-heading {
    /* font-size: 1.5rem; */
    font-weight: bold;
    margin-bottom: 2rem;
    /* color: #E13C35; */
    color: #E13C35;
    text-align: center;
  }
  
  .editor-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-color: #43A260;
    margin-bottom: 1rem;
    border-radius: 8px;
    font-size: 1rem;  
  }



  .editor-textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-color: #43A260;
    margin-bottom: 1rem;
    border-radius: 8px;
    font-size: 1rem;  
    width: 736.1px;
    height: 500px;  
  }
  
  .editor-label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .editor-file-input {
    margin-bottom: 1rem;
  }
  
  .editor-image,
  .editor-inserted-image {
    max-width: 300px;
    height: auto;
    border-radius: 6px;
    margin-bottom: 1rem;
  }
  
  .editor-paragraphs {
    margin-bottom: 1rem;
  }
  
  .editor-paragraph {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  
  .editor-paragraph.selected {
    background-color: #e0f2ff;
  }
  
  .submit-button {
    background-color: #43A260;
    color: white;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
  }

  .cancel-button {
    background-color: #E13C35;
    color: white;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 2rem;
  }

